@import url(https://fonts.googleapis.com/css?family=Lora:400,700);


*{
	box-sizing: border-box;

}

body{
	font-family: 'Lora', sans-serif;
	margin: 0;
}

img{
	max-width: 100%;
}

ul, ol{
	list-style: none;
	margin-top: 10px;
	text-align: left;
}

figure{
	margin: 0;
}

.cleaner{
	clear: both;
}

.container{
	max-width: 1200px;
	margin: auto;
}
.border{
		max-width: 1200px;
  	margin: auto;
  	text-align: center;
  	border: solid 3px #191919;
  	border-radius: 20px;
  	margin-top: 10px;
  	background: url(../images/fondo-nuevo.jpg) center top no-repeat;
  	background-size:cover;
}

.nombre{
	text-align: left;
	margin-left: 10px;
}

.nombre h1{
	font-size: 30px;
	margin-top: 10px;
	text-align: left;
}
.nombre h3{
	font-size: 15px;
	margin-top: -25px;
	margin-left: 15px;
	text-align: left;
	border-bottom: 1px black;
}

.mail{
	text-align: left;
	margin-left: 10px;
	border-top: 1px solid black;
	width: 50%;
}

.mail h3{
	margin-left: 15px;
	font-size: 15px;
	text-align: left;
	font-weight: normal;

}
.iconos{
	margin-left: 35px;
	text-align: left;
	font-size: 40px;
	margin-top: -5px;

}
.iconos i{
	color: grey !important;

}


.profile-picture{
	text-align: right;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;

}
.profile-left{
	width: 45%;
	float: left;
	margin-left: 2%
}

.profile-right{
	width: 45%;
	float: right;
	height: 191px;
	margin-right: 2%;
}
.line{
	border-top: 2px solid black;
	width: 95%;
	margin-top: 30px;
	margin-left: 2%;
	margin-right: 2%;
}
.profile{
	float: left;
	margin-top: 50px;
	width: 10%;
	margin-left: -10px;
	margin-bottom: 15px;
}
.title-section{
	float: left;
	margin-top: 60px;
	font-size: 25px;
	margin-bottom: 15px;
}
#description{
	text-align: left;
}

.logos-skills{
	font-size: 70px;
}
.logos{
	width: 25%;
	float: left;
}
.form-contact{
	width: 	95%;
	margin-left: 2%;
}
.form-contact input{
	box-shadow:
}
.contact-form-left, .contact-form-right{
	float: 	left;
	width: 	50%;
}
.contact-form-left input{
	width: 	100%;
	height: 60px;
	border: 1px solid #cbd0cb;
	font-family: inherit;
	font-size: 14px;
	border-radius: 1px;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-right: 3.33%;
	box-shadow: 0px 1px 5px inset;
	background-color: #b9c2bb;
}

.contact-form-right textarea{
	width: 	100%;
	height: 130px;
	border: 1px solid #cbd0cb;
	font-family: inherit;
	font-size: 14px;
	border-radius: 1px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 3.33%;
	box-shadow: 0px 1px 5px inset;
	background-color: #b9c2bb;

}
.button-form{
	text-align: center;
	width: 100%;
}

.button-submit{
	background-color: #c8630f;
	border: none;
	color: #fff;
	font-family: inherit;
	text-transform: uppercase;
	width: 11%;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 1.5px;
	border-radius: 4px;
	min-width: 70px;
}


@media (max-width:800px) {
	.container, .main-header{
		width: 95%;
	}
	.nombre h1{
		font-size: 20px;
	}
	.nombre h3{
		font-size: 13px;
		margin-top: -25px;
		margin-left: 0px;
	}
	.mail h3{
		margin-left: 0;
		font-size: 12px;
	}
	.iconos{
		margin-left: 10px;
		text-align: left;
		font-size: 30px;
		margin-top: -5px;
	}
	@media (max-width:600px) {
		.container, .main-header{
			width: 95%
		}
		.profile{
			margin-top: 35px;
		}
		.title-section{
			margin-top: 40px;
			margin-left: 10px;
		}
		.logos-skills{
			font-size: 70px;
		}
		.logos{
			width: 50%;
			float: left;
		}
		.jobs ul li{
			margin-right: 10px;
		}
		.contact-form-left, .contact-form-right{
			width: 100%;
		}
		.contact-form-right textarea{
			margin-left: 0;
		}
		@media (max-width:400px) {
			.container, .main-header{
				width: 95%
			}
			.logos-skills{
				font-size: 50px;
			}
			.logos{
				margin-top: 10px;
			}
			.profile{
				display: none;
			}
			.title-section{
				font-size: 20px;
				text-align: center;
				margin-top: 30px;
			}
			.profile-left{
				width: 90%;
				margin-left: 20%
			}
			.nombre h1, h3{
				width: 90%
			}
			.profile-right{
				width: 90%;
				margin-left: 5%;
			}
			.profile-picture{
				text-align: center;
			}
			.jobs ul li{
				margin-right: 10px;
			}
			.contact-form-left, .contact-form-right{
				width: 100%;
			}
			.contact-form-right textarea{
				margin-left: 0;
			}
		}
